.app {
  padding: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}

.blog-post__display {
  border: 1px solid lightgrey;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}

form>input, form>label, form>textarea{
  width: 50%;
}

.form-input {
  margin: 10px 0px;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid lightgray;
  padding: .375rem .75rem;
  outline: none;
}

label {
  display:block;
  width: 100%;
}

#map-holder {
  width: 100%;
  height: 0px;
  margin: auto;
  z-index: 1;
}

#form-holder {
  z-index: 2;
  position:fixed;
}

@font-face {
  font-family: 'Comic-Sans';
  src: url(./fonts/comic-sans-ms/COMIC.TTF);
}

#title {
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

@supports (-webkit-text-stroke: 5px black) {
  #title {
    -webkit-text-stroke: 4px #F0F600;
    -webkit-text-fill-color: #FF3CC7;
    font-family: 'Arial Black', Arial, sans-serif;
    margin: auto;
    text-align: center;
  }
}

form {
  width: 100%;
  background-color: black;
}

body {
  background-color: #FF3CC7;
}
