.comments-container-div {
    margin-top: 10px;
}

.comments-scroll-div {
    width: 320px;
    max-height: 125px;
    overflow:auto;
    text-align: left;
    background-color: #fff;
}

.comments-textarea {
    margin-top: 5px; 
    height: 35px;
}

.comments-textarea-div {
    background-color: white;
}

.comments-ul {
    list-style-type: none;
    padding-left: 0;
}

@supports (-webkit-text-stroke: 5px black) {
    .comment-username-span {
        -webkit-text-stroke: .75px #e8e8e8;
        -webkit-text-fill-color: black;
    }
    .comment-span {
        -webkit-text-stroke: .75px black;
        -webkit-text-fill-color: #e8e8e8; 
    }
}