#autocomplete-div {
    

}

.places-outer-div input {
   
    border-style: solid;
    border-color:#152BFF;
    border-width: 5px;
}



.suggestions-div {
    color: green;
    /* font-weight: bold; */
    font-family: "Comic-Sans", "Comic Sans", sans-serif;
    border-radius: 1rem;
    border-width: 5px;
  
}
input {
    width: 100%;

}

* {
    font-family: "Comic-Sans", "Comic Sans", sans-serif;
 
}

@supports (-webkit-text-stroke: 1px black) {
    .suggestions-div {
      -webkit-text-stroke: .9px #152BFF;
      -webkit-text-fill-color: #00E5E8;
    padding: 2px;
    }
  }

  
