.itempost-fb-img {
    width: 20px;
    height: 20px;
}

.itempost-h1 {
    text-align: center;
    font-size: 16px;
    font-family: 'Arial Black';
}

@supports (-webkit-text-stroke: 5px black) {
    .itempost-h1 {
        
    }
}

.item-image-div {
    flex-basis: 100%;
    text-align: center;
}

.item-image {
    max-width: 140px;
}

.item-post-container {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    width: 320px;
    padding: 5px;
    margin: 10px;
}

.item-title-div {
    flex-basis: 100%;
}

.itempost-user-img-name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100%;
    background-color: white;
}
