




@supports (-webkit-text-stroke: 5px black) {
    button {
        -webkit-text-stroke: .75px #00E5E8;
        -webkit-text-fill-color: #152BFF;
    }

    label {
        -webkit-text-stroke: .75px #152BFF;
        -webkit-text-fill-color: #00E5E8;
    }
}

input, label, textarea {
    margin-bottom: 4.5px;
}


  label {
    display: inline-block;
  }