#item-pg-map {
    height: 30vh;
}

.map-div {
    /* padding 0 bc React-Bootstrap's Row adds padding. Undesirable here. */
    padding: 0px;
    /* height MUST be set for this component to work */
    height: 75vh; 
    /* border decorations */
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: #00E5E8;
    box-shadow: 0px 0px 10px 10px #152BFF;
    /* margin so login-prompt displays properly*/
    margin-top: 20px;
    margin-bottom: 20px;
}

#map-holder {
    border-width:5px;
    border-color: black;
}

