#map-div {
    margin: 15px;
    min-height: 400px;
    height: 75vh; 
    width: 75%;
    display: block;
    margin: auto;
    resize: both;
}

#map-holder {
    border-width:5px;
    border-color: black;
}

