#login-div {
    margin: 15px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    border-width: 5px;
    border-color:#152BFF;
    border-style: solid;
    border-radius: 20px;
    background-color: #00e5e8;
    text-align: center;
    padding: 5px;
    display: inline;
    box-shadow: 2px 2px;
}

#outer-login-div {
    display: inline;
}

#login-img-div  {
    padding: 0px;
    margin: auto;
    border: 0px;
    box-shadow: 2px 2px;
    width: 50px;
    height: 50px;
}

#login-span {
    display: inherit;
    font-family: 'Impacted';
    text-transform: uppercase;
    text-shadow: 1px 1px #152BFF;
}


@supports (-webkit-text-stroke: 5px black) {
    #login-span {
      -webkit-text-stroke: .25px #F0F600  ;
      -webkit-text-fill-color: #FF3CC7;
    }
  }