/* #login-div {
    margin: 15px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    border-width: 5px;
    border-color:#152BFF;
    border-style: solid;
    border-radius: 20px;
    background-color: #00e5e8;
    text-align: center;
    padding: 5px;
    display: inline;
    box-shadow: 2px 2px;
} */

/* #outer-login-div {
    display: inline;
    position: absolute;
    right: 50px;
} */


@supports (-webkit-text-stroke: 5px black) {
    #login-span {
      -webkit-text-stroke: .25px #F0F600  ;
      -webkit-text-fill-color: #FF3CC7;
    }
  }