div.marker {
    transition: transform .3s;

    
}

img.marker {
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #00E5E8;
    margin:3px;
    box-shadow: 0px 0px 3px 1px #152BFF;
}

div.marker:hover {
    transform: scale(5);
    z-index: 1000;
}